# outputs / runs / predictions / logs
ckt/
sample_bids/
outputResult.nii.gz
**/logs*/
**/predictions*/
*.log
events.out.tfevents.*

# large neuro files (keep only if you REALLY want them versioned)
# If you want to keep assets/*.nii.gz and assets/*.pt, then do NOT ignore globally.
# Otherwise uncomment these:
# *.nii
# *.nii.gz
# *.pt
# *.pth

