# outputs / runs / predictions / logs
ckt/
sample_bids/
outputResult.nii.gz
**/logs*/
**/predictions*/
*.log
events.out.tfevents.*

# large neuro files (keep only if you REALLY want them versioned)
# If you want to keep assets/*.nii.gz and assets/*.pt, then do NOT ignore globally.
# Otherwise uncomment these:
# *.nii
# *.nii.gz
# *.pt
# *.pth


# ---- local / generated ----
**/__pycache__/
*.pyc
*.save
nipo_out/
ckt/
sample_bids/
derivatives/
outputResult.nii.gz

# containers / archives
*.sif
*.tar
*.tar.gz
bids_dataset_description.json
